.header_menu{
    margin-bottom: 1em;
    
    display: flex;
    flex-direction: column;    
    border-bottom: 2px solid grey;
    justify-content: space-between;
    align-items: center;
    padding:1em;
}
.flex-container{
    display: flex;

    flex-direction: column;
}

.flex-btn{
    max-width: 100%;
}
@media screen and (min-width:780px){
    .header_menu{
        display: flex;
        flex-direction: row;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        gap:.4em;
    }
    .test{
        text-align: left;
        font-weight: 400;
    }





    
    .flex-container button{
        max-width:4em;
        height: 50%;
        margin-top:1.7em;
        padding: 0;
    }
}





